/*export * from "./src";

/*From create react app auto installed below*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

























/*IGNORE ALL THIS AS MAY NOT BE NEEDED
/* React equivalent here? (from Tailwind example)
@tailwind base;
@tailwind components;
@tailwind utilities */

/*NEEDS CARD/COMPONENTS/ASSETS/LAYOUT/PAGES SUBFOLDERS IN DIRECTORY ALSO?
export * from "./";
export * from "./";
export * from "./"; */

